{% extends "layout.html" %}

{% block title %}
Blog
{% endblock %}
{% block main %}
<script>
    const USER_ID = {{ user_id if user_id else 'null' }};
</script>
<section class="blog-main mt-5">
    <div class="articles-grid d-flex flex-column container align-items-center" id="article-container">
        <div class="text-center py-5">
        <h1 class="display-4 fw-bold text-light">My Blog</h1>
        <p class="lead text-secondary">Whatever Croses My mind on the fly</p>
        </div>
        <button class="btn btn-light" id="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
        <div class="d-flex w-100 justify-content-end align-items-center" >
        {% if session['user_id'] %}
            <button class="btn btn-primary" id="create-article">Create New Article</button>     
        </div>
        {% endif %}
    </div>
</section>
<!-- The article edit modal -->
<div class="modal fade" id="editModal" tabindex="-1">
    <div class="modal-dialog .modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content bg-dark glassy p-4">
            <div class="modal-header">
                <h5 class="modal-title ">Edit Article</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <label for="edit-title" class=" mb-1">Title</label>
                <input type="text" id="edit-title" class="form-control mb-2" placeholder="Title" />
                <label for="edit-image" class=" mb-1">Image URL</label>
                <input type="text" id="edit-image" class="form-control mb-2" placeholder="Image URL" />
                <label for="edit-content" class=" mb-1">Content</label>
                <textarea id="edit-content" class="form-control" placeholder="Content" rows="10"></textarea>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-success" id="save-edit">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Article Delete Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark glassy p-4">
            <div class="modal-header">
                <h5 class="modal-title">Delete Article</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body text-dark">
                <h1>Are you sure you want to delete article?</h1>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-danger" id="delete">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Article Create Modal -->
<div class="modal fade" id="CreateModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-dark glassy p-4">
            <div class="modal-header">
                <h5 class="modal-title text-dark">Create Article</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body ">
                <div class="mb-3">
                    <label for="title" class="">Title</label>
                    <input type="text" autocomplete="off" autofocus name="title" id="create-title" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="image" class="">Image URL</label>
                    <input type="text" name="image" id="create-image" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="content" class="">Content</label>
                    <textarea name="content" class="form-control" id="create-content" placeholder="Article Content" rows="10"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-success" id="create">Create</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="readArtical" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-dark glassy p-4">
            <div class="modal-header">
                <h5 class="modal-title">Read Artical</h5>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="p-3 d-flex justify-content-center align-items-center mb-3" >
                    <img id="article-image" style="max-height: 500px; max-width: 500px;">
                </div>
                <div class="mb-3">
                    <h3 id="article-title"></h3>
                </div>
                <div class="mb-3">
                    <p id="article-content"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Search Modal -->
<div class="modal fade" id="searchModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-dark glassy p-4">
      <div class="modal-header">
        <h5 class="modal-title">Search Articles</h5>
        <button class=" btn-close bg-light" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <input id="search-input" type="text" autofocus class="form-control mb-3" placeholder="Enter keyword..." />
        <div id="search-results" class="d-flex flex-column gap-3"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}