{% extends "layout.html" %}
{% block title %}
Projects
{% endblock%}
{% block main%}
<div class="container py-5">
    <div class="text-center py-5">
    <h1 class="display-4 fw-bold text-light">My Projects</h1>
    <p class="lead text-secondary">A showcase of applications, tools, and experiments I've built using Flask, Python, and other web technologies.</p>
    </div>
    <div class="row" id="projects-container">
        <!-- JS will inject project cards here -->

    </div>
</div>
{% endblock%}